*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f8eecc;
}

/* -- LAYOUT -- */
.container {
    max-width: 100%;
    margin: 0 auto;
}

header,
.top-section,
.grid-section,
footer {
    padding: 0px 2em;
}

/* -- HEADER -- */
header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.header-icon,
header h4 {
    font-size: 0.875rem; /* 14px */
}

header h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}    

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-left: auto;
}

header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem; /* 12px */
    font-weight: 600;
    padding-top: 3px;
    border-bottom: white solid 3px;
    color: black;
}

header ul li a:hover,
header ul li a:focus {
    color: orange;
    cursor: pointer;
    border-bottom: orange solid 3px;
}


/* -- TOP SECTION -- */
.top-section {
    /*color: #fff;*/
    background: #000 url('assets/dominican-rep-2022/beach-las-terrenas.jpg');
    background-size: cover;
    min-height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
}

.top-section span,
.top-section h1,
.top-section p {
    background-color: #fff;
    margin: 0 auto 0 0;
    padding: 0 10px 0 10px;
    
}

.top-section h1 {
    font-size: 2rem; /* 32px */
    font-weight: 700;
}

.top-section span {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
    padding-top: 5px;
}

/* -- MEDIA FOR HEADER AND TOP SECTION -- */
@media (min-width: 600px) {
    .container {
        max-width: 1200px;
    }

    .header ul {
        gap: 40px;
    }

    .header-icon,
    header h4 {
        font-size: 1.125rem; /* 18px */
    }

    header ul li a {
        font-size: 1rem; /* 16px */
    }
    .top-section {
        min-height: 600px;
    }
    .top-section span {
        font-size: 1rem; /* 16px */
    }
}

/* -- GRID SECTION -- */
.grid-section {
    display: grid;
    background-color: #fff;
    padding: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;

}

.card h1,
.card p {
    margin: 0;
}

.card span {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
    margin-top: 10px;
}

.card h1 {
    margin-bottom: 5px;
}



/* -- FOOTER -- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    padding: 20px 0;
}

footer h4,
footer p {
    margin: 0;
    color: #fff;
    font-size: 0.75rem; /* 12px */
}

/* -- MEDIA FOR GRID SECTION AND FOOTER -- */
@media (min-width: 600px) {
    footer h4,
    footer p {
        font-size: 1rem; /* 16px */
    }

    .card span {
        font-size: 1rem; /* 16px */
    }
}

/* -- ABOUT ME SECTION -- */
.about-me-section {
    background-color: black;
}

.about-me-section img{
    width: 100%;
    margin: 0 auto;
    display: flex;   
}

.about-me-section-text {
    background-color: white;
    padding: 2em;
}

.about-me-section-text h1 {
    margin: 0;
}

.last-paragraph {
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .about-me-section img {
        width: 70%;
    }
}

.header-for-grid-section {
    background-color: white;
    padding-top: 2em;
    margin: 0;
    font-size: 1.125rem;
    text-align: center;
}